.xui-postageConfig-postageListPage .btn-success{
	float: left !important;
	margin-left: 0px !important; 
}

.xui-set-title, .xui-modify-delete-btn{
	display: inline-block;
}

.xui-modify-delete-btn{
	float: right;
    margin-right: 1%;
}