.modal-content{
    width: 800px !important;
    min-height: 200px;
}

.modal-content{
	background: #FFF !important;
}

.model_li{
	display: inline-block;
	margin-right: 20px;
}

.modal-footer{
	display: none;
}