.modal-content{
	background: rgb(224, 222, 222) !important;
}

.product-detail{
	width: 400px;
	margin: 0 auto;
}

.product-image{
	width: 400px;
	height: 350px;
	display: block;
}

.product-name-price{
	padding-bottom: 8px;
	margin: 0 auto;
	margin-top: 10px;
	padding-top: 8px;
}

.product-choose, .product-name-price, .product-introduce{
	padding-left: 8px;
	background: #FFF;
}

.product-choose{
    margin-top: 10px;
	padding-top: 5px;
    height: 40px;
}

.product-introduce{
	margin-top: 10px;
	height: 250px;
}

.product-introduce .title{
    display: inline-block;
    width: 382px;
    border-bottom: 1px solid #CCC;
	padding-top: 8px;
	font-size: 16px;
}

.product-name, .product-price{
	display: block;
	font-size: 16px;
}

.product-price{
	color: red;
}

.product-count, .choose-count{
	display: inline-block;
}

.choose-count{
	padding-right: 5px;
}

.product-count li{
	list-style: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #CCC;
	padding-top: 2px;
	font-size: 16px;
}

.xui-newProduct-page{
	position: relative;
}

.preview-btn{
	position: absolute;
    left: 110px;
    top: 13px;
    font-size: 18px;
}