.rebate_tips{
    width: 78%;
    margin: 0 auto;
    margin-left: 90px;
    margin-bottom: 15px;
}
.bold_text{
    font-weight:bold;
    text-decoration: none;
}
.red_color{
    color:red;
}
.grey_text {
    color:#747474;
}
.href_color {
    color:#404040;
}

.href_color_gray {
    color:#747474;
}

.xui-unread-panel {
    width: 800px;
    margin: 0 auto;
    border: 1px solid transparent;
    background: #ff9931;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
}

.xui-unread-panel a {
    color: #fff;
}
