{% extends "page.html" %}

{% block js %}
<script type="text/javascript">
	W.breadcrumb = [{
		name: '商品列表',
		href: '/product/product_list/'
	}];

	W.pageContentComponent = './product/product_list/ProductDataListPage.react';
	W.user_has_products = "{{user_has_products}}";
	W.can_created = "{{can_created}}";
	W.purchaseMethod = "{{purchaseMethod}}";
	W.serviceTel = "{{service_tel}}";
	W.serviceQQFirst = "{{service_qq_first}}";
	W.serviceQQSecond = "{{service_qq_second}}";
</script>
{% endblock %}