.category-ul{
	width: 200px;
	height: 200px;
	display: inline-block;
	border: 1px solid #D4D3D3;
	box-shadow: 1px 1px #D4D3D3;
	margin-left: 40px;
	overflow-y:auto;
}
.category-ul li{
	margin-top: 5px;
    padding-left: 5px;
}

.modal-footer{
	display: none;
}

.edit-product{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 245px;
	margin-left: 150px
}
#demo {
	width: 44px;
    display: inline-block;
    height: 20px;
    background-color: #CCC;
    position: relative;
    top: 42px;
    left: 18px;
    border: 1px solid #ccc;
}

#demo:after, #demo:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
}

#demo:after {
 	border-width: 9px;
}

#demo:before {
	border-width: 14px;
	border-left-color: #CCC;
	top: -5px
}

.erow{
	position: relative;
	display: inline-block;
	top: -137px;
	width: 90px
}