{% extends "business_apply_base.html" %}

{% block content %}
<div class="xa-pageContainer">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" id="page1" class="active"><a href="#">企业基本信息</a></li>
        <li role="presentation" id="page2" ><a href="#">基本资质文件</a></li>
        <li role="presentation" id="page3" ><a href="#">入驻类目/特殊资质提交</a></li>
        <li role="presentation" id="page4" ><a href="#">等待审核</a></li>
    </ul>
    <div class="business_apply_from">
        <form class="form-horizontal" id="apply_page_1">
          <div class="form-group">
            <label for="company_type" class="col-sm-4 control-label"><em>*</em>企业类型：</label>
            <div class="col-sm-4">
                <label class="radio-inline">
                  <input type="radio" name="company_type" id="company_type1" value="direct">厂家直销
                </label>
                <label class="radio-inline">
                  <input type="radio" name="company_type" id="company_type2" value="agency" checked>代理/贸易/分销
                </label>
            </div>
          </div>
          <div class="form-group">
            <label for="company_name" class="col-sm-4 control-label"><em>*</em>公司名称：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="company_name" id="company_name">
            </div>
          </div>
          <div class="form-group">
            <label for="company_money" class="col-sm-4 control-label">注册资本：</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" name="company_money" id="company_money">
            </div><p style="padding-top: 7px;">万元</p>
          </div>
          <div class="form-group">
            <label for="legal_representative" class="col-sm-4 control-label">法人代表：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="legal_representative" id="legal_representative">
            </div>
          </div>
          <div class="form-group">
            <label for="contacter" class="col-sm-4 control-label"><em>*</em>联系人：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="contacter" id="contacter">
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-sm-4 control-label"><em>*</em>手机号：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="phone" id="phone">
            </div>
          </div>
          <div class="form-group">
            <label for="e_mail" class="col-sm-4 control-label">E-mail：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="e_mail" id="e_mail">
            </div>
          </div>
          <div class="form-group">
            <label for="we_chat_and_qq" class="col-sm-4 control-label">微信/QQ：</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" name="we_chat_and_qq" id="we_chat_and_qq">
            </div>
          </div>
          <div class="form-group">
            <label for="company_location" class="col-sm-4 control-label"><em>*</em>公司所在地：</label>
            <div class="col-sm-4">
                <div id="company_location" name="company_location">
                    <select class="prov"></select> 
                    <select class="city" disabled="disabled"></select>
                    <select class="dist" disabled="disabled"></select>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-sm-4 control-label"><em>*</em>详细地址：</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="address" id="address">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-6 col-sm-4">
              <button type="button" class="btn btn-primary" onclick="goToPage2();">下一步</button>
            </div>
          </div>
        </form>

        <!-- 第二页 -->
        <form id="apply_page_2" style="display:none">
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-business_license" src="" style="display:block">
            <label for="business_license">营业执照</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="business_license" type="file" name="image" class="xa-uploader" />
            </span>
            <div class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
            <input class="form-control xui-datePicker xa-datePicker" type="text" value="请选择日期" id="datetimepicker-business_license" data-date-format="yyyy-mm-dd hh:ii">
          </div>
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-tax_registration_certificate" src="" style="display:block">
            <label for="tax_registration_certificate">税务登记证</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="tax_registration_certificate" type="file" name="image" class="xa-uploader" />
            </span>
            <div class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
            <input class="form-control xui-datePicker xa-datePicker" type="text" value="请选择日期" id="datetimepicker-tax_registration_certificate" data-date-format="yyyy-mm-dd hh:ii">
          </div>
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-organization_code_certificate" src="" style="display:block">
            <label for="organization_code_certificate">组织机构代码证</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="organization_code_certificate" type="file" name="image" class="xa-uploader" />
            </span>
            <div class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
            <input class="form-control xui-datePicker xa-datePicker" type="text" value="请选择日期" id="datetimepicker-organization_code_certificate" data-date-format="yyyy-mm-dd hh:ii">
          </div>
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-account_opening_license" src="" style="display:block">
            <label for="account_opening_license">开户许可证</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="account_opening_license" type="file" name="image" class="xa-uploader" />
            </span>
            <div class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
            <input class="form-control xui-datePicker xa-datePicker" type="text" value="请选择日期" id="datetimepicker-account_opening_license" data-date-format="yyyy-mm-dd hh:ii">
          </div>
          <div class="page2_help_info">温馨提示：请确保各资质文件电子图片清晰可见，避免因内容不清晰影响入驻审核结果！</div>
          <div class="form-group_btn">
            <div class="col-sm-offset-5 col-sm-4">
                <button type="button" class="btn btn-primary" onclick="goToPage1();">上一步</button>
                <button type="button" class="btn btn-primary" onclick="goToPage3();">下一步</button>
            </div>
          </div>
        </form>

        <!-- 第三页 -->
        <form id="apply_page_3" style="display:none">
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-business_license" src="" style="display:block">
            <label for="business_license">品牌授权书</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="business_license" type="file" name="image" class="xa-uploader" />
            </span>
            <div id="progress" class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
          </div>
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-tax_registration_certificate" src="" style="display:block">
            <label for="tax_registration_certificate">税务登记证</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="tax_registration_certificate" type="file" name="image" class="xa-uploader" />
            </span>
            <div id="progress" class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
          </div>
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-organization_code_certificate" src="" style="display:block">
            <label for="organization_code_certificate">组织机构代码证</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="organization_code_certificate" type="file" name="image" class="xa-uploader" />
            </span>
            <div id="progress" class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
          </div>
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-account_opening_license" src="" style="display:block">
            <label for="account_opening_license">开户许可证</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="account_opening_license" type="file" name="image" class="xa-uploader" />
            </span>
            <div id="progress" class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
          </div>
          <div class="form-group">
            <img class="wui-upload-img wa-upload-img-account_opening_license" src="" style="display:block">
            <label for="account_opening_license">开户许可证</label>
            <span class="btn btn-primary fileinput-button">
                <span>上传</span>
                <input id="account_opening_license" type="file" name="image" class="xa-uploader" />
            </span>
            <div id="progress" class="progress mt5 xa-progress xui-hide">
                <div class="progress-bar progress-bar-success xa-bar"></div>
            </div>
          </div>
          <div class="page2_help_info">温馨提示：请确保各资质文件电子图片清晰可见，避免因内容不清晰影响入驻审核结果！</div>
          <div class="form-group_btn">
            <div class="col-sm-offset-5 col-sm-4">
                <button type="button" class="btn btn-primary" onclick="goToPage2();">上一步</button>
                <button type="button" class="btn btn-primary" onclick="goToPage4();">下一步</button>
            </div>
          </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.cityselect.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        //三级联动省市区
        $("#company_location").citySelect();

        //上传图片
        $('.xa-uploader').click(function(event){
            // $(event.target).parent().parent().find('.wa-upload-img').hide();
            $(event.target).fileupload({
                url: '/resource/image/?_method=put',
                type: 'POST',
                dataType: 'json',
                start: function(e, data) {
                    $(event.target).parent().parent().find('.xa-progress').show();
                },
                done: function (e, data) {
                    var responseData = data.result.data;
                    var class_name = $(event.target).attr("id");
                    class_name = '.wa-upload-img-'+class_name
                    $(class_name).attr('src',responseData.path);
                },
                fail: function (e, data) {

                },
                complete: function(e, data) {
                    console.log("complete");
                    _.delay(function() {
                        $(event.target).parent().parent().find('.xa-progress').hide();
                    }, 50);
                },
                progressall: function(e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $(event.target).parent().parent().find('.xa-progress').find('.xa-bar').css('width', progress+'%');
                }
            });
        });

        //时间控件
        $('.xa-datePicker').click(function(event){
            var currentIdName = $(event.target).attr("id");
            currentIdName = '#'+currentIdName;
            console.log(currentIdName);
            var min = 'now';
            var max = null;
            var useMaxTime = false;
            var date = new Date();
            var dateStr = date.getFullYear() +'-' + (date.getMonth()+1) + '-' + date.getDate() +' ';
            var time = "00:00";
            if (useMaxTime){
                time = "23:59";
            }
            var options = {
                defaultValue: dateStr + time,
                buttonText: '选择日期',
                currentText: '当前时间',
                hourText: "小时",
                minuteText: "分钟",
                numberOfMonths: 1,
                dateFormat: "yy-mm-dd",
                timeFormat: 'HH:mm',
                closeText: '确定',
                prevText: '&#x3c;上月',
                nextText: '下月&#x3e;',
                monthNames: ['一月','二月','三月','四月','五月','六月',
                    '七月','八月','九月','十月','十一月','十二月'],
                monthNamesShort: ['一','二','三','四','五','六',
                    '七','八','九','十','十一','十二'],
                dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                dayNamesMin: ['日','一','二','三','四','五','六'],
                beforeShow: function(input) {
                    if(min === 'now') {
                        $(this).datetimepicker('option', 'minDate', new Date());
                    }else if (min){
                        $(this).datetimepicker('option', 'minDate', min);
                    }

                    if(max === 'now') {
                        $(this).datetimepicker('option', 'maxDate', new Date());
                    }else if(max){
                        $(this).datetimepicker('option', 'maxDate', max);
                    }
                },
                onSelect: function(dateText, inst) {
                    var event = {target:$(currentIdName).get(0)};
                    // changeHandler(dateText, event);
                },
                onClose: function(dateText, inst) {
                    var event = {target:$(currentIdName).get(0)};
                    // changeHandler(dateText, event);
                }
            };
            $(currentIdName).datetimepicker(options);
        });

    });
    function goToPage1(){
        $("#page2").removeClass('active');
        $("#apply_page_2").hide();
        $("#apply_page_1").show();
    }
    function goToPage2(){
        $("#page2").addClass('active');
        $("#page3").removeClass('active');
        $("#apply_page_1").hide();
        $("#apply_page_2").show();
        $("#apply_page_3").hide();
    }
    function goToPage3(){
        $("#page3").addClass('active');
        $("#apply_page_1").hide();
        $("#apply_page_2").hide();
        $("#apply_page_3").show();
    }
    function goToPage4(){
        $("#page2").addClass('active');
        $("#apply_page_1").hide();
        $("#apply_page_2").show();
    }
    function savePage(){
        console.log($('#apply_page_1').serialize());
        // $.ajax({
        //     url:'/account/api/create_sales/',
        //     type:'post',
        //     data:$('#create_form').serialize(),
        //     success:function(resp){
        //         $('#cancle_creating').click();
        //         location.href = '/account/list_sales/';
        //     },
        //     error:function(){
        //         console.log('sales_create_fail');
        //     }
        // });
    }
</script>
{% endblock %}
