.orders-list-btn-group a{
	display: block;
}
.modal-content{
	width: 720px;
}
.orders-list-product-name{
	margin-left: 5px;
	display: inline;
	vertical-align: top;
}
.orders-list-model-names{
	margin-left: 5px;
	display: block;
	vertical-align: bottom;
}
img {
    vertical-align: bottom !important;
}
.col-sm-7.xa-inputs {
    width: auto;
}